*{
    margin: 0px;
    color: white;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
body {
    background-color: #1b0f1c;
}
.page_wrapper{
    position: relative; 
    overflow-x: hidden;
    padding-top: 60px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
p{
    padding-top: 20px;
}
a{
    text-decoration: none;
}

/*Navigation Bar*/
nav{
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    background-color:transparent;
    height: 60px;
    transition: background-color 0.05s ease-in-out;
}
nav.nav-scrolled {
    background-color: #1b0f1c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
#title > img{
    margin: 0 0px 0px 50px;
    width: 260px;
    height: 40px;
}
#nav-links{
    justify-content: center;
    display: flex;
}
#nav-links > a{
    padding: 22px 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
}
#nav-links a:hover{
    border-bottom: solid 1px white;
    cursor:pointer;
}
.nav-link-item.active{
    border-bottom: solid 1px white;
    
}
#hamburger {
    display: none;
    width: 30px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 1%;
    align-self: center;
    margin-right: 20px;
} 

#hamburger span {
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 5px;
    transition: 0.3s ease;
}
/* Hamburger Animation */
#hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
#hamburger.active span:nth-child(2) {
    opacity: 0;
}
#hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
#nav_links.active {
    right: 0;
}
/*Banner*/
.banner {
    position: relative;
    height: 60vw;
    display: flex;
    padding: 0px 50px;
}
.banner > div{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner > div > img {
    width: 43vw;
}
.banner > .circle, .page_wrapper > .circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #1b0f1c, #3f2341);
    position: absolute;
    top: 100px;
    right: -200px;
    z-index: -1;
}
#c5{
    bottom: 0px;
    left: -10px;
    background-image: linear-gradient(20deg, #1b0f1c, #3f2341);
}
#c4{
    top: -200px;
    left: -100px;
    background-image: linear-gradient(135deg, #1b0f1c, #3f2341);
}
#c2{
    top: -100px;
    left: -300px;
    background-image: linear-gradient(-45deg, #1b0f1c, #3f2341);
}
#c3{
    top: -260px;
    right: -100px;
    background-image: linear-gradient(90deg, #1b0f1c, #3f2341);
}

/*Main*/
main{
    background-color: #1b0f1c;
}

/*Introduction*/
.intro {
    padding: 50px;
}

/*Benefits*/
.benefits {
    background-color: #1b0f1c;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}
.line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    top: -50px;
    border-radius: 5px;
}
.benefits > h1{
    padding-bottom: 20px;
}
#l1{
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
}
#l2{
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
}
.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.flex > div {
    width: 28%;
    background-image: linear-gradient(0deg, #1b0f1c, #3f2341);
    border-radius: 30px 0px 0px 0px;
    padding: 20px;
}
.bottom {
    top: 50px;
}
#lbottom1{
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
}
#lbottom2{
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
}
/*Catalogue*/
.catalogue{
    padding: 50px 0px;
}
.catalogue > h1 {
    padding: 0px 50px;
}
.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 2rem 0;
}

.carousel-track {
  display: flex;
  gap: 2rem;
}

.carousel-track img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  flex-shrink: 0;
  transition: transform 0.3s;
}
.button > a {
    background-color: #3f2341;
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}
.button > a:hover{
    background-color: #502c53;
    font-size: 20.5px;
    transition: background-color 0.1s;
    transition: font-size 0.1s;
}

/*Footer*/
footer{
    background-color: black;
    color: white;
    height: 400px;
    width: 100%;
    z-index: 2;
    padding: 20px;
}
#footer_div{
    height: 48%;
    padding: 40px 40px 0px 40px;
}
.footer1{
    display: flex;
    justify-content:space-between;
}
.footer1 *{
    color: white;
    font-size: 1.8vw;
    margin-bottom: 20px;
}
.footer_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer1 > div {
    height: 200px;
}
.footer1 > div > img {
    width: 30vw;
    height: 7vw;
}
.footer1 a:hover{
    text-decoration: underline;
}
.footer1 h1:first-child{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.footer1 h1:last-child{
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 0px;
}
.footer_heading3{
    font-weight: bold;
    font-size: 25px;
}
.footer_items{
    display: flex;
    flex-direction: column;
}
#footer2{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 20px 0px;
}
#footer3{
    border-top: 1px solid white;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}
.fa {
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  background: white;
  color: black;
  padding: 17px 0px;
}

/*Catalogue*/
main > p {
    padding: 1000px;
    background-color: aqua;
}
#flex{
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#flex > a { 
    width: 48%;
    margin-bottom: 50px;
}
#flex > a > img {
    width: 100%;
    border: 1px solid white;
    transition: border 0.2s;
} 
#flex > a > img:hover {
    border:2px solid #ea84f4;
}
@media (max-width: 992px) {
    .banner {
        position: relative;
        height: 140vw;
        display: flex;
        padding: 0px 50px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .banner > div{
        width: 100%;
        text-align: center;
    }
    .banner > div > img {
        width: 80vw;
        align-self: center;
    }
    #c3, #c2, #c1 {
        width: 1200px;
        height: 1200px;
        left: 50%;
        transform: translateX(-50%);
    }
    #c3{
        top: -200px;
    }
    #c2{
        top: 150px;
    }
    #c1{
        top: 500px;
    }
    .flex {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 130vw;
    }
    .flex > div {
        width: 50%;
        background-image: linear-gradient(0deg, #1b0f1c, #3f2341);
        border-radius: 30px 0px 0px 0px;
        padding: 20px;
    }
    .flex > div > h2 {
        font-size: 40px;
    }
    .flex > div > p {
        font-size: 28px;
    }
    #flex{
        position: relative;
        padding: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        min-height: 220vw;
        flex-wrap: wrap;
    }
    #flex > a { 
        width: 80vw;
        margin-bottom: 50px;
    }
    #flex > a > img {
        width: 100%;
        border: 1px solid white;
        transition: border 0.2s;
    } 
    #nav-links {
        position: fixed;
        top: 60px;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: #1b0f1c;
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
        gap: 10px;
        transition: 0.3s ease-in-out;
    }

    #nav-links a {
        font-size: 18px;
        padding: 20px;
        border-bottom: 1px solid #3a2a3c;
    }

    #nav-links.active {
        right: 0;
    }

    #hamburger {
        display: flex;
    }
}